[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { version = "*", extras = ["standard"] }
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
passlib = {extras = ["argon2"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"
python-multipart = "*"
loguru = "*"
numpy = "<2"
opencv-python = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
ultralytics = "*"
tensorflow = ">=2.13,<2.16"
keras-facenet = "*"
requests = "*"
chromadb = "*"
pika = "*"

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.10"
